*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body #root {
  height: 100%;
 width: 100%;
}
html {
  font-family: 'Arial', sans-serif;
  background-color: #000000;
}
.note{
  background-color: #ffffff;
  padding: 1rem;
  max-width: 20rem;
}
.notes{
  display: flex;
   gap: 1rem;
}